<mat-toolbar class="navbar">
  <div class="brand">
    <img src="images/jio-logo.png" alt="Jio" class="brand-logo" />
    <div class="brand-text">
      Centralised RAN<br />
      Network Insight &amp;<br />
      Operations Centre
    </div>
  </div>

  <nav class="nav-links">
    <span class="nav-item active">Dashboard</span>
  </nav>

  <span class="spacer"></span>

  <button
    type="button"
    class="theme-toggle"
    (click)="toggleTheme()"
    [attr.aria-label]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'"
    [attr.title]="isDarkMode ? 'Light mode' : 'Dark mode'"
  >
    <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

  <button class="user-menu-trigger" [matMenuTriggerFor]="userMenu">
    <div class="avatar" *ngIf="currentUser$ | async as user">
      {{ user.name.charAt(0).toUpperCase() }}
    </div>
    <span class="user-name" *ngIf="currentUser$ | async as user">{{ user.name }}</span>
    <mat-icon class="chevron">expand_more</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
        <button mat-menu-item class="logout-item" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
